@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-api:before { content: "\f100"; }
.flaticon-002-application:before { content: "\f101"; }
.flaticon-003-asp:before { content: "\f102"; }
.flaticon-004-bug:before { content: "\f103"; }
.flaticon-005-c-:before { content: "\f104"; }
.flaticon-006-certificate:before { content: "\f105"; }
.flaticon-007-clean-code:before { content: "\f106"; }
.flaticon-008-cloud:before { content: "\f107"; }
.flaticon-009-learn:before { content: "\f108"; }
.flaticon-010-code:before { content: "\f109"; }
.flaticon-011-boy:before { content: "\f10a"; }
.flaticon-012-girl:before { content: "\f10b"; }
.flaticon-013-css:before { content: "\f10c"; }
.flaticon-014-cloud:before { content: "\f10d"; }
.flaticon-015-error:before { content: "\f10e"; }
.flaticon-016-hello-world:before { content: "\f10f"; }
.flaticon-017-code:before { content: "\f110"; }
.flaticon-018-html:before { content: "\f111"; }
.flaticon-019-java:before { content: "\f112"; }
.flaticon-020-js:before { content: "\f113"; }
.flaticon-021-office:before { content: "\f114"; }
.flaticon-022-php:before { content: "\f115"; }
.flaticon-023-press:before { content: "\f116"; }
.flaticon-024-coding-language:before { content: "\f117"; }
.flaticon-025-hosting:before { content: "\f118"; }
.flaticon-026-ssl:before { content: "\f119"; }
.flaticon-027-testing:before { content: "\f11a"; }
.flaticon-028-tweaking:before { content: "\f11b"; }
.flaticon-029-code:before { content: "\f11c"; }
.flaticon-030-user:before { content: "\f11d"; }