@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-rabbit:before { content: "\f100"; }
.flaticon-002-fruits-and-vegetables:before { content: "\f101"; }
.flaticon-003-meatballs:before { content: "\f102"; }
.flaticon-004-broccoli:before { content: "\f103"; }
.flaticon-005-vegan-burger:before { content: "\f104"; }
.flaticon-006-bread:before { content: "\f105"; }
.flaticon-007-chocolate:before { content: "\f106"; }
.flaticon-008-cocktail:before { content: "\f107"; }
.flaticon-009-earth:before { content: "\f108"; }
.flaticon-010-experiment:before { content: "\f109"; }
.flaticon-011-no-honey:before { content: "\f10a"; }
.flaticon-012-meal:before { content: "\f10b"; }
.flaticon-013-no-cheese:before { content: "\f10c"; }
.flaticon-014-no-egg:before { content: "\f10d"; }
.flaticon-015-no-fish:before { content: "\f10e"; }
.flaticon-016-no-meat:before { content: "\f10f"; }
.flaticon-017-no-pork:before { content: "\f110"; }
.flaticon-018-no-meat:before { content: "\f111"; }
.flaticon-019-nuts:before { content: "\f112"; }
.flaticon-020-organic:before { content: "\f113"; }
.flaticon-021-pizza:before { content: "\f114"; }
.flaticon-022-pot:before { content: "\f115"; }
.flaticon-023-smoothie:before { content: "\f116"; }
.flaticon-024-soy-milk:before { content: "\f117"; }
.flaticon-025-soy-meat:before { content: "\f118"; }
.flaticon-026-vegan:before { content: "\f119"; }
.flaticon-027-tofu:before { content: "\f11a"; }
.flaticon-028-transport:before { content: "\f11b"; }
.flaticon-029-vegan:before { content: "\f11c"; }
.flaticon-030-water:before { content: "\f11d"; }