@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-angel:before { content: "\f100"; }
.flaticon-002-angel:before { content: "\f101"; }
.flaticon-003-angel:before { content: "\f102"; }
.flaticon-004-jesus:before { content: "\f103"; }
.flaticon-005-bible:before { content: "\f104"; }
.flaticon-006-calendar:before { content: "\f105"; }
.flaticon-007-camel:before { content: "\f106"; }
.flaticon-008-cow:before { content: "\f107"; }
.flaticon-009-desert:before { content: "\f108"; }
.flaticon-010-donkey:before { content: "\f109"; }
.flaticon-011-holy-family:before { content: "\f10a"; }
.flaticon-012-fish:before { content: "\f10b"; }
.flaticon-013-treasure:before { content: "\f10c"; }
.flaticon-014-herodes:before { content: "\f10d"; }
.flaticon-015-holy-family:before { content: "\f10e"; }
.flaticon-016-saint-joseph:before { content: "\f10f"; }
.flaticon-017-saint-joseph:before { content: "\f110"; }
.flaticon-018-virgin-mary:before { content: "\f111"; }
.flaticon-019-manger:before { content: "\f112"; }
.flaticon-020-virgin-mary:before { content: "\f113"; }
.flaticon-021-virgin-mary:before { content: "\f114"; }
.flaticon-022-oil:before { content: "\f115"; }
.flaticon-023-sheeps:before { content: "\f116"; }
.flaticon-024-shepherd:before { content: "\f117"; }
.flaticon-025-stable:before { content: "\f118"; }
.flaticon-026-star:before { content: "\f119"; }
.flaticon-027-star:before { content: "\f11a"; }
.flaticon-028-wise-man:before { content: "\f11b"; }
.flaticon-029-wise-man:before { content: "\f11c"; }
.flaticon-030-wise-man:before { content: "\f11d"; }

$font-Flaticon-001-angel: "\f100";
$font-Flaticon-002-angel: "\f101";
$font-Flaticon-003-angel: "\f102";
$font-Flaticon-004-jesus: "\f103";
$font-Flaticon-005-bible: "\f104";
$font-Flaticon-006-calendar: "\f105";
$font-Flaticon-007-camel: "\f106";
$font-Flaticon-008-cow: "\f107";
$font-Flaticon-009-desert: "\f108";
$font-Flaticon-010-donkey: "\f109";
$font-Flaticon-011-holy-family: "\f10a";
$font-Flaticon-012-fish: "\f10b";
$font-Flaticon-013-treasure: "\f10c";
$font-Flaticon-014-herodes: "\f10d";
$font-Flaticon-015-holy-family: "\f10e";
$font-Flaticon-016-saint-joseph: "\f10f";
$font-Flaticon-017-saint-joseph: "\f110";
$font-Flaticon-018-virgin-mary: "\f111";
$font-Flaticon-019-manger: "\f112";
$font-Flaticon-020-virgin-mary: "\f113";
$font-Flaticon-021-virgin-mary: "\f114";
$font-Flaticon-022-oil: "\f115";
$font-Flaticon-023-sheeps: "\f116";
$font-Flaticon-024-shepherd: "\f117";
$font-Flaticon-025-stable: "\f118";
$font-Flaticon-026-star: "\f119";
$font-Flaticon-027-star: "\f11a";
$font-Flaticon-028-wise-man: "\f11b";
$font-Flaticon-029-wise-man: "\f11c";
$font-Flaticon-030-wise-man: "\f11d";