.consulting {
  background: #CE5937;
background: -moz-linear-gradient(left, #CE5937 0%, #C59237 100%);
background: -webkit-linear-gradient(left, #CE5937 0%, #C59237 100%);
background: linear-gradient(to right, #CE5937 0%, #C59237 100%);
}

a {
  color: white;
}

.backgroundHome {
  opacity: 0;
}